* {
    justify-content: center;
    box-sizing: border-box;
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(39, 35, 35);
}

h1 {
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top:5%;
    font-size: 50px;
}

.navbar h1 {
    color: rgb(39, 35, 35);
}

.navbar {
    height:15%;
    background-color: rgb(247, 247, 103);
    margin-bottom: 10px;
    border-bottom: solid white 15px;
}

#nav-text {
    margin-right:5%;
}

/* navbar a tags */
.project-htmls a {
    padding: 10px;
    text-decoration: none;
    color: rgb(39, 35, 35);
    font-size: 28px;
}

.project-htmls a:hover {
    color: rgba(255, 0, 0, 0.849);
}

/* place holder text for input */
#movie-name {
    background-color: white;
    color: black;
    width: 30%;
    padding: 7px;
}

.input-search {
    text-align: center;
}

.search {
    margin-bottom: 5%;
    text-align: center;
    margin-left: 30%;
    margin-right:30%;
}

#search {
    background-color: rgba(255, 0, 0, 0.849);
    color:white;
    border: 1px solid rgba(255, 0, 0, 0.849)
}

#search:hover {
    background-color: rgb(247, 247, 103);
    cursor: pointer;
    color:black;
    border-color: rgb(247, 247, 103);
}

.search-header {
    text-align: center;
    color: white;
    margin-top: 5%;
}

#trailer-div {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

/* media screen for youtube */
@media screen and (max-width: 600px) {
    .flex-container, .img-container {
        float: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 15px;
    }  
}

/* media screen for h2 tag */
@media screen and (min-width: 900px) {
    .search {
        margin-bottom: 3%;
    }  
}