/* group one 1, movie pop, css for 1-homepage, 6-24-21 */

/* document */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;  
    background-color: rgb(39, 35, 35);  
}

/* header */
.jumbotron {
    height:230px;
    background-color: rgb(247, 247, 103);
}

.header-movie-pop {
    text-align: center;
}

.display-3 {
    margin-top:-20px;
    font-weight:bold;
}

.lead {
    color:rgba(255, 0, 0, 0.849);
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

/* main */
.deck-group {
    text-align:center;
    margin-top:50px;
    width:90%;
    margin-right:5%;
    margin-left:5%;
    margin-bottom:50px;
}

/* main 1 */
.card-title-one {
    font-size:35px;
}

#deck-group-one {
    margin-top:100px;
}

#card-one:hover {
    box-shadow: 0 6px 10px 0 rgb(247, 247, 103), 0 6px 10px 0 rgb(247, 247, 103);
}

#search-review-button, #search-trailer-button, #search-location-button {
    background-color:rgba(255, 0, 0, 0.849);
    font-size:20px;
    border:none;
    margin-top:15px;
}

#search-review-button:hover, #search-trailer-button:hover, #search-location-button:hover {
    background-color: rgb(247, 247, 103);
    cursor: pointer;
    color:black
}

/* p between main 1 and main 2 */


#poppin {
    border-color: rgb(247, 247, 103);
    color: rgb(247, 247, 103);
    text-align: center;
    margin-left:33%;
    margin-right:33%;
    width:33%;
    font-size:30px;
    margin-top:10px;
}

#poppin:hover {
    background-color: rgba(255, 0, 0, 0.849);
    color:white;
    border-color: rgba(255, 0, 0, 0.849);
}

/* main two */
#deck-group-two {
    margin-bottom:130px;
}

#card-two:hover {
    box-shadow: 0 6px 10px 0 rgba(255, 0, 0, 0.849), 0 6px 10px 0 rgba(255, 0, 0, 0.849);
}

.card-title-two {
    text-decoration: underline;
}

.card-text-two {
    color:rgba(255, 0, 0, 0.849);
    font-size:20px;
}

/* footer */
.footer {
    background-color: rgb(247, 247, 103);
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size:15px;
    padding:10px;
    margin-top:10px;
}

.copyrights {
    margin-top:15px;
}

.careers {
    margin-left:50px;
}

.careers:hover {
    color:rgba(255, 0, 0, 0.849)
}
