* body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(39, 35, 35);
    text-align: center;
}

.navbar {
    background-color: rgb(247, 247, 103);
    padding: 5%;
    border-bottom: solid white 15px;
}

.search-container {
    text-align: center;
}

#search-area {
    margin-top:5%;
}

#search-button {
    background-color:rgba(255, 0, 0, 0.849);
    border:none;
    padding-top: 9px;
    padding-bottom: 12px;
}

#search-button:hover {
    background-color: rgb(247, 247, 103);
    cursor: pointer;
    color:black
}

#clear-button {
    background-color:rgba(255, 0, 0, 0.849);
    border:none;
    margin-top: 3%;
}

#clear-button:hover {
    background-color: rgb(247, 247, 103);
    cursor: pointer;
    color:black
}

.body-text {
    color: white;
    text-align: center;
    margin-top: 3%;
}

#source-list {
    text-align: center;
    list-style-type: none;
    font-size: 24px;
}

.previous-movie {
    text-align: center;
}

#clear-button-div {
    text-align: center;
}

.project-htmls a {
    padding: 10px;
    text-decoration: none;
    color: rgb(39, 35, 35);
    font-size: 28px;
}

.project-htmls a:hover {
    color: rgba(255, 0, 0, 0.849);
}

.navbar h1 {
    color: rgb(39, 35, 35);
}

#text-output {
    margin-top: 1%;
}

/*media screen for text output*/
@media screen and (max-width: 800px) {
    #text-output {
      flex-direction: column;   
    }
}    

/*media screen for*/
@media screen and (min-width: 900px) {
    #search-area {
      margin-top:3%;
      margin-left:5%; 

    }
}    

/*media screen for*/
@media screen and (min-width: 900px) {
    #search-button {
      width:75%;
      margin-top: 3%;
    }
} 

