* body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(39, 35, 35);
}

.navbar {
    height:230px;
    background-color: rgb(247, 247, 103);
}

#search-button {
    background-color:rgba(255, 0, 0, 0.849);
    border:none;
}

#search-button:hover {
    background-color: rgb(247, 247, 103);
    cursor: pointer;
    color:black
}

.body-text {
    color: white;
}